@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

/* Global styles */
.window-app {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.rollable:hover,
.rollable:focus {
  color: #000;
  text-shadow: 0 0 10px red;
  cursor: pointer;
}

.grid,
.grid-2col {
  display: grid;
  grid-column: span 2/span 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 10px;
  margin: 10px 0;
  padding: 0;
}

.grid-3col {
  grid-column: span 3/span 3;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-4col {
  grid-column: span 4/span 4;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-5col {
  grid-column: span 5/span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-6col {
  grid-column: span 6/span 6;
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

.grid-7col {
  grid-column: span 7/span 7;
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.grid-8col {
  grid-column: span 8/span 8;
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

.grid-9col {
  grid-column: span 9/span 9;
  grid-template-columns: repeat(9, minmax(0, 1fr));
}

.grid-10col {
  grid-column: span 10/span 10;
  grid-template-columns: repeat(10, minmax(0, 1fr));
}

.grid-11col {
  grid-column: span 11/span 11;
  grid-template-columns: repeat(11, minmax(0, 1fr));
}

.grid-12col {
  grid-column: span 12/span 12;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.grid-start-2 {
  grid-column-start: 2;
}

.grid-start-3 {
  grid-column-start: 3;
}

.grid-start-4 {
  grid-column-start: 4;
}

.grid-start-5 {
  grid-column-start: 5;
}

.grid-start-6 {
  grid-column-start: 6;
}

.grid-start-7 {
  grid-column-start: 7;
}

.grid-start-8 {
  grid-column-start: 8;
}

.grid-start-9 {
  grid-column-start: 9;
}

.grid-start-10 {
  grid-column-start: 10;
}

.grid-start-11 {
  grid-column-start: 11;
}

.grid-start-12 {
  grid-column-start: 12;
}

.grid-span-2 {
  grid-column-end: span 2;
}

.grid-span-3 {
  grid-column-end: span 3;
}

.grid-span-4 {
  grid-column-end: span 4;
}

.grid-span-5 {
  grid-column-end: span 5;
}

.grid-span-6 {
  grid-column-end: span 6;
}

.grid-span-7 {
  grid-column-end: span 7;
}

.grid-span-8 {
  grid-column-end: span 8;
}

.grid-span-9 {
  grid-column-end: span 9;
}

.grid-span-10 {
  grid-column-end: span 10;
}

.grid-span-11 {
  grid-column-end: span 11;
}

.grid-span-12 {
  grid-column-end: span 12;
}

.flex-group-center,
.flex-group-left,
.flex-group-right {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.flex-group-left {
  justify-content: flex-start;
  text-align: left;
}

.flex-group-right {
  justify-content: flex-end;
  text-align: right;
}

.flexshrink {
  flex: 0;
}

.flex-between {
  justify-content: space-between;
}

.flexlarge {
  flex: 2;
}

.align-left {
  justify-content: flex-start;
  text-align: left;
}

.align-right {
  justify-content: flex-end;
  text-align: right;
}

.align-center {
  justify-content: center;
  text-align: center;
}

/* Styles limited to cyberpunk-red sheets */
.cyberpunk-red .item-form {
  font-family: "Roboto", sans-serif;
}

.cyberpunk-red .sheet {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  display: grid;
  grid-template-columns: 200px 100px 1131px;
  grid-template-rows: auto auto;
  grid-template-areas:
    "header attributes skills"
    "health  stuff stuff";
  gap: 4px;

  .header {
    grid-area: header;
    background: white;
    border: 8px solid #b70000;
    clip-path: polygon(25px 0%,
        /* cut */
        100% 0%,
        100% 100%,
        0% 100%,
        0% 25px
        /* cut */
      );

    span {
      font-weight: bold;
      background-color: #b70000;
      color: #fff;
    }

    label {
      display: flex;
      width: 100%;
      font-weight: bold;
      background-color: #b70000;
      color: #fff;
    }
  }

  .attributes {
    grid-area: attributes;
    display: flex;
    flex-direction: column;
    gap: 4px;
    background: white;
    border: 8px solid #b70000;
    label {
      display: flex;
      width: 100%;
      font-weight: bold;
      background-color: #b70000;
      color: #fff;
    }
  }

  .skills {
    grid-area: skills;
    display: flex;
    flex-direction: row;
    background: white;
    border: 8px solid #b70000;

  }

  .health {
    grid-area: health;
    background: white;
    border: 8px solid #b70000;

  }

  .stuff {
    grid-area: stuff;
    background: white;
    border: 8px solid #b70000;
  }

  input,
  textarea {
    width: 100%;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin: 0;
    border: 4px solid #b70000;
  }

  th {
    background-color: #000000;
    color: #fff;
    text-align: center;
    border: 2px solid #b70000;
    &:first-child {
      text-align: left;
    }

    &:not(:first-child) {
      width: 60px;
    }
  }

  td {
    text-align: center;
    padding: 1px;
    border: 2px solid #b70000;
    &:first-child {
      text-align: left;
    }

    &:not(:first-child) {
      width: 60px;
    }
  }
}

.cyberpunk-red .sheet-header {
  flex: 0 auto;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.cyberpunk-red .sheet-header .profile-img {
  flex: 0 0 100px;
  height: 100px;
  margin-right: 10px;
}

.cyberpunk-red .sheet-header .header-fields {
  flex: 1;
}

.cyberpunk-red .sheet-header h1.charname {
  height: 50px;
  padding: 0px;
  margin: 5px 0;
  border-bottom: 0;
}

.cyberpunk-red .sheet-header h1.charname input {
  width: 100%;
  height: 100%;
  margin: 0;
}

.cyberpunk-red .sheet-tabs {
  flex: 0;
}

.cyberpunk-red .sheet-body,
.cyberpunk-red .sheet-body .tab,
.cyberpunk-red .sheet-body .tab .editor {
  height: 100%;
}

.cyberpunk-red .tox .tox-editor-container {
  background: #fff;
}

.cyberpunk-red .tox .tox-edit-area {
  padding: 0 8px;
}

.cyberpunk-red .resource-label {
  font-weight: bold;
}

.cyberpunk-red .items-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove #eeede0;
  font-weight: bold;
}

.cyberpunk-red .items-header>* {
  font-size: 14px;
  text-align: center;
}

.cyberpunk-red .items-header .item-name {
  font-weight: bold;
  padding-left: 5px;
  text-align: left;
  display: flex;
}

.cyberpunk-red .items-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  scrollbar-width: thin;
  color: #444;
}

.cyberpunk-red .items-list .item-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.cyberpunk-red .items-list .item-name {
  flex: 2;
  margin: 0;
  overflow: hidden;
  font-size: 13px;
  text-align: left;
  align-items: center;
  display: flex;
}

.cyberpunk-red .items-list .item-name h3,
.cyberpunk-red .items-list .item-name h4 {
  margin: 0;
  white-space: nowrap;
  overflow-x: hidden;
}

.cyberpunk-red .items-list .item-controls {
  display: flex;
  flex: 0 0 100px;
  justify-content: flex-end;
}

.cyberpunk-red .items-list .item-controls a {
  font-size: 12px;
  text-align: center;
  margin: 0 6px;
}

.cyberpunk-red .items-list .item {
  align-items: center;
  padding: 0 2px;
  border-bottom: 1px solid #c9c7b8;
}

.cyberpunk-red .items-list .item:last-child {
  border-bottom: none;
}

.cyberpunk-red .items-list .item .item-name {
  color: #191813;
}

.cyberpunk-red .items-list .item .item-name .item-image {
  flex: 0 0 30px;
  height: 30px;
  background-size: 30px;
  border: none;
  margin-right: 5px;
}

.cyberpunk-red .items-list .item-prop {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
}

.cyberpunk-red .items-list .items-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove #eeede0;
  font-weight: bold;
}

.cyberpunk-red .items-list .items-header>* {
  font-size: 12px;
  text-align: center;
}

.cyberpunk-red .items-list .items-header .item-name {
  padding-left: 5px;
  text-align: left;
}

.cyberpunk-red .item-formula {
  flex: 0 0 200px;
  padding: 0 8px;
}

.cyberpunk-red .effects .item .effect-source,
.cyberpunk-red .effects .item .effect-duration,
.cyberpunk-red .effects .item .effect-controls {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
}

.cyberpunk-red .effects .item .effect-controls {
  border: none;
}